workflow/Upwork Automation.json
{
  "name": "Upwork Automation",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/nahom.network~upwork-job-finder/run-sync-get-dataset-items?token=YOUR_APIFY_API_TOKEN",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR_APIFY_API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"n8n automation\",\n  \"page\": 1\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        160
      ],
      "id": "f8ace9e5-145e-4d62-a5c8-25b6a2db00e1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ce183f7-27a6-4ed9-83df-677016e21a68",
              "name": "title",
              "value": "={{$json.title.replace(/<[^>]*>/g, '')}}",
              "type": "string"
            },
            {
              "id": "b308d0e6-a087-4c63-9b0a-4d75d497eb00",
              "name": "description",
              "value": "={{$json.description.replace(/<[^>]*>/g, '')}}\n",
              "type": "string"
            },
            {
              "id": "ec9ceee2-bb4f-4042-8368-9057bf193510",
              "name": "url",
              "value": "=={{ \"https://www.upwork.com/jobs/~\" + $json.uid }}\n",
              "type": "string"
            },
            {
              "id": "5e71b0fa-46ca-4793-ad6d-8fd95b8d91a2",
              "name": "relativeDate",
              "value": "=={{ $json.createdOn }}\n",
              "type": "string"
            },
            {
              "id": "d8c3bd49-f29d-4898-8307-1b88d7bde22a",
              "name": "jobType",
              "value": "=={{ $json.durationLabel }}\n",
              "type": "string"
            },
            {
              "id": "1d52f96b-ae49-4543-ab20-52825bf7ae9c",
              "name": "experienceLevel",
              "value": "=={{ $json.tierText }}\n",
              "type": "string"
            },
            {
              "id": "0b8a7445-b107-4d60-879e-c7ac4ed9b130",
              "name": "Posted",
              "value": "=={{ $json.createdOn }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        160
      ],
      "id": "0a22dbd8-32f0-4baa-85f7-552cb0886a80",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        336
      ],
      "id": "62697d8c-05b6-4f37-8de9-6161a58019ab",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VGNW8pnr5PBkip3T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": \"X/10\",\n  \"priority\": \"High | Medium | Low\",\n  \"reason\": \"One short paragraph explaining why\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        336
      ],
      "id": "a9f605d8-be8e-4ab0-a4d4-edc61d85c9e5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}\n{{ $json.description }}\n{{ $json.url }}\n{{ $json.relativeDate }}\n{{ $json.jobType }}\n{{ $json.experienceLevel }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert Upwork Job Evaluation Agent.\n\nYou are scoring opportunities specifically for Morgan — an automation engineer focused on:\n\n- n8n\n- AI workflows\n- API integrations\n- Voice agents\n- Twilio / Retell\n- CRM automation\n- System orchestration\n- Fast portfolio-building wins\n\nYour objective is NOT generic job matching.\nYour objective is tactical opportunity selection.\n\nMorgan’s current strategy priorities (in order):\n\n1. Quick delivery wins\n2. Strong portfolio artifacts\n3. Testimonials\n4. Client history growth\n5. Revenue secondary to reputation\n6. Avoid complex long-term commitments\n\n------------------------------------------------\n\n### Evaluation Method\n\nScore using weighted signals:\n\nAdd points for:\n+3 Clear automation / workflow relevance\n+2 n8n / integrations / AI agent / API orchestration\n+1 Verified client payment\n+1 Fixed scope clarity\n+1 Budget appropriate for scope\n+1 Can likely complete under 48 hours\n\nSubtract points for:\n-2 Long-term architecture builds\n-2 Vague requirements\n-1 Enterprise-scale system requests\n-1 Low-signal client info\n-1 Non-automation focus\n\nClamp final score between 1–10.\n\n------------------------------------------------\n\n### Priority Mapping\n\n8–10 → High  \n5–7 → Medium  \n1–4 → Low  \n\n------------------------------------------------\n\n### Safety Rules\n\n- Use ONLY provided job data\n- Do NOT assume missing facts\n- Do NOT hallucinate client history\n- If data missing → ignore signal\n\n------------------------------------------------\n\n### Required Output JSON\n\n{\n  \"score\": \"X/10\",\n  \"priority\": \"High | Medium | Low\",\n  \"reason\": \"Concise professional justification focused on opportunity value\"\n}\n\n------------------------------------------------\n\n### Job Data\n\nTitle: {{ $json.title }}\nDescription: {{ $json.description }}\nURL: {{ $json.url }}\nPosted: {{ $json.relativeDate }}\nJob Type: {{ $json.jobType }}\nExperience Level: {{ $json.experienceLevel }}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        640,
        160
      ],
      "id": "d6aea24b-63f9-4146-904b-e75628860cd9",
      "name": "Analyse Job"
    },
    {
      "parameters": {
        "content": "## Upwork Automation",
        "height": 624,
        "width": 1664,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -16
      ],
      "typeVersion": 1,
      "id": "a7346eb1-25e6-4428-b0f7-8da732d1fe27",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        160
      ],
      "id": "5afd1ce5-d38b-41a8-86c9-8f78bec16088",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appMHt5nNmejJPjV3",
          "mode": "list",
          "cachedResultName": "Upwork Automation",
          "cachedResultUrl": "https://airtable.com/appMHt5nNmejJPjV3"
        },
        "table": {
          "__rl": true,
          "value": "tbl0ozFPjcUFOXvnN",
          "mode": "list",
          "cachedResultName": "Upwork Leads",
          "cachedResultUrl": "https://airtable.com/appMHt5nNmejJPjV3/tbl0ozFPjcUFOXvnN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Edit Fields').item.json.title }}",
            "Description": "={{ $('Edit Fields').item.json.description }}",
            "URL": "={{ $('Edit Fields').item.json.url }}",
            "Score": "={{ $('Analyse Job').item.json.output.score}}",
            "Priority": "={{ $('Analyse Job').item.json.output.priority }}",
            "Reason": "={{ $('Analyse Job').item.json.output.reason }}",
            "Time job created": "={{ $('Edit Fields').item.json.publishedOn }}",
            "Proposal": "=AI-generated proposal placeholder\n",
            "Applied": "={{ false }}\n",
            "automationSignal": "={{ $json.automationSignal }}\n\n\n",
            "budgetTier": "={{ $json.budgetTier }}",
            "experienceCategory": "={{ $json.experienceCategory }}",
            "processedAt": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Proposal",
              "displayName": "Proposal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Time job created",
              "displayName": "Time job created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Applied",
              "displayName": "Applied",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "automationSignal",
              "displayName": "automationSignal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budgetTier",
              "displayName": "budgetTier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "experienceCategory",
              "displayName": "experienceCategory",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        336
      ],
      "id": "e28734ee-68da-4301-b57f-ee47784556f4",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "ZQcJDN89i1ED2GD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b1b9f1a-11c2-49b9-bb41-b8113e3f763f",
              "leftValue": "={{ new Date($json.Posted) > new Date(Date.now() - 6*60*60*1000) }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        256
      ],
      "id": "a0b77446-af25-4577-90b1-8cd173f2dfb5",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f5dd33f-8cfa-4b17-bee5-982bc3f8f1a1",
              "leftValue": "={{ $json.experienceLevel }}",
              "rightValue": "Entry",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "c1dfaa94-ab04-4ab3-9aaa-6f96817cf4af",
              "leftValue": "={{ Number($json.hourlyBudget?.max || $json.amount || 0) }}\n",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        80
      ],
      "id": "783293c2-3944-4b4c-a918-50abb74b9bed",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4dc3d6c1-1a18-4fac-a55b-bcf066dab749",
              "leftValue": "={{ $('Analyse Job').item.json.output.priority }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        32
      ],
      "id": "c7ae15dd-5479-4eeb-871c-75aa9a7f1c31",
      "name": "If2"
    },
    {
      "parameters": {
        "sendTo": "sauhardwm@gmail.com",
        "subject": "High Priority Upwork Opportunity Detected",
        "message": "=<h2>High Priority Opportunity</h2>\n\n<b>Title:</b> {{$node[\"Edit Fields\"].json.title}}<br>\n<b>Score:</b> {{$json.output.score}} / 10<br>\n<b>Priority:</b> {{$json.output.priority}}<br><br>\n\n<b>Reason:</b><br>\n{{$json.output.reason}}<br><br>\n\n<a href=\"{{$node['Edit Fields'].json.url}}\">\nOpen Job Posting\n</a>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1296,
        192
      ],
      "id": "20bee4bc-4b6f-43ac-af8b-a8ac2ab2d74e",
      "name": "Send a message",
      "webhookId": "bc1f1241-818f-4fa9-a03c-c24248e8844b",
      "credentials": {
        "gmailOAuth2": {
          "id": "Z38AbLHZcul4yikF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5d418f2-cf66-48de-82a1-484746fc6cc7",
              "name": "automationSignal",
              "value": "={{ ( ($json.title + \" \" + $json.description) .toLowerCase() .match(/n8n|automation|workflow|ai|agent|twilio|retell|api|integration|zapier|make/g) || [] ).length }}",
              "type": "string"
            },
            {
              "id": "52178e51-8018-465e-a343-6ff88496e905",
              "name": "budgetTier",
              "value": "={{\n(($json.hourlyBudget?.max || $json.amount || 0) > 50)\n  ? \"High\"\n  : (($json.hourlyBudget?.max || $json.amount || 0) > 20)\n    ? \"Medium\"\n    : \"Low\"\n}}\n\n\n",
              "type": "string"
            },
            {
              "id": "b4610802-654c-4b57-b471-7a8e36b45481",
              "name": "experienceCategory",
              "value": "={{ $json.experienceLevel || \"Unknown\" }}",
              "type": "string"
            },
            {
              "id": "3b4b8740-fe96-410e-b86e-2be606c9ed8d",
              "name": "processedAt",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        160
      ],
      "id": "39406048-9a8e-438c-9800-6b6008004ced",
      "name": "Observability"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse Job",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyse Job",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Job": {
      "main": [
        [
          {
            "node": "Observability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analyse Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Analyse Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Observability": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bdd750b5-7ee9-4eb4-a323-ca26312511de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bf1846cce767584263d1a7ddca0a358ab16ac6433f0da8619d5b8ac549111a3"
  },
  "id": "j04O5SKFL7OAcjLV8qKTh",
  "tags": []
}